<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/index.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="buttons">
  <h1>What temperature is your <code>water?</code></h1>
  <center>
  <button onclick="clickFunction('too-cold')" class="fill">Too Cold</button>
  <button onclick="clickFunction('cold')" class="pulse">Cold</button>
  <button onclick="clickFunction('perfect')" class="close">Perfect</button>
  <button onclick="clickFunction('lukewarm')" class="raise">Lukewarm</button>
  <button onclick="clickFunction('hot')" class="up">Hot</button>
  <button class="slide">Text Brian</button>
  <!--<button class="offset">Slider</button>-->
  <div class="slidecontainer">
    <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
  </div>
  <p align="right">...this slider does nothing</p>
</center>
</div>



<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
  <script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>
<script type=text/javascript>
  function clickFunction(path) {
      $.getJSON($SCRIPT_ROOT + "/{{ secret }}/update-water?temp=" + path, {
        }, function(data) {
        $("#result").text(data.result);
      });
      return false;
    };
</script>

</body>
</html>
