<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/home.1.1.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
</head>
<body>
  <div class="thermometer--too-cold">
    <span>Carl's Water as a Service takes your privacy very seriously... unless you're Carl, then we publish your water temperature to the world. </span>
    <span>If you provide your phone number for text updates, that number will only be used to text updates of Carl's water, and not sold or shared with anyone else, unless subpoenaed by a government agency.</span>
  </div>
</body>
</html>
